SCRIPTOR_AUTH_TOKEN=change-me
OCTOCLICK_API_KEY=change-me
OCTOCLICK_BASE_URL=https://api.octoclick.com/api/v4
OCTOCLICK_ROLE=hunter
OCTOCLICK_LANG=en
OCTOCLICK_TIMEOUT_SECONDS=30
YANDEX_SEARCH_API_KEY=change-me
YANDEX_SEARCH_FOLDER_ID=change-me
YANDEX_SEARCH_BASE_URL=https://searchapi.api.cloud.yandex.net
YANDEX_SEARCH_TIMEOUT_SECONDS=30
GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
GOOGLE_REFRESH_TOKEN=change-me
GOOGLE_SHEETS_SPREADSHEET_ID=change-me
GOOGLE_OAUTH_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_SHEETS_BASE_URL=https://sheets.googleapis.com/v4/spreadsheets
GOOGLE_SHEETS_MAX_ROWS_PER_REQUEST=1000
LOG_LEVEL=INFO
DATA_DIR=data
REQUEST_DELAY_MS=1000
MAX_CONCURRENCY=1
